code {
  font-family: MyriadPro-Bold;
}

@font-face{
  font-family: MyriadPro-Regular;  
  src: url(./utiles/fonts/MyriadPro-Regular.otf);
}

@font-face{
  font-family: MyriadPro-Semibold;  
  src: url(./utiles/fonts/MyriadPro-Semibold.otf);
}

@font-face{
  font-family: MyriadPro-Bold;  
  src: url(./utiles/fonts/MyriadPro-Bold.otf);
}


* {
  box-sizing: border-box;
}

html,
body, :root {
    padding: 0;
    margin: 0;
    border:none;
    font-family: MyriadPro Regular;
    color:#333333;
}

html, body{
  height: 100%;
}

.home{
  height: 100vh;
}


  

